*{
    margin: 0;
    padding: 0;
}

ul, li{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none !important;
}

/* ================================
Nav start
================================= */
nav{
    background: #EEEDDE ;
}

nav ul li{
    margin-left: 100px;
    position: relative;
}

nav ul li .dropdwon {
	position: absolute;
	background: #EEEDDE;
	top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    transform: rotateX(90deg);
    transform-origin: top;
}

nav ul li:hover .dropdwon{
    opacity: 1;
    visibility: visible;
    transform: rotateX(0);
}

nav ul li .dropdwon ul li {
	margin-left: 0px;
	border-bottom: 1px rgba(100, 99, 100, 0.452) solid;
	padding: 10px 20px;
}

nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #20333ac0 !important;
    position: relative;
}

nav ul li a::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    border-radius: 50px;
    background: #F6762E;
    content: "";
    opacity: 0;
    transition: .5s;
}

nav ul li a:hover{
    color: rgb(4, 6, 17) !important;
}

nav ul li a:hover:after{
    width: 40px;
    opacity: 1;
}

nav ul li a i{
    margin-left: 5px;
    color:#20333ac0 ;
    transition: .5s;
}
nav ul li a:hover i{
    transform: rotateX(180deg);
}
/* ================================
Nav end
================================= */
/* ================================
banner start
================================= */
.banner {
    background: #EEEDDE;
}


.banner .col-lg-8 h1{ 
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    margin-top: 100px;
    margin-bottom: 24px;
}

.banner .col-lg-8 p{ 
    width: 544px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.banner .col-lg-8 .search{
    width: 675px;
    position: relative;
}

.banner .col-lg-8 input{
    width: 100%;
    padding: 23px 0 23px 56px;
    border: 0;
    border-radius: 15px;
}

.banner .col-lg-8 input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(32, 50, 57,.55);
}

.banner .col-lg-8 .search i{
    font-size: 24px;
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translateY(-50%);
}

.banner .col-lg-8 .search button{
    width: 140px;
    height: 50px;
    background: #203239;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 0;
    border-radius: 10px;
    top: 50%;
    right: 20px;
    position: absolute;
    transform: translateY(-50%);
    -webkit-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.2);
}

.banner .col-lg-8 .box{
    display: flex;
    width: 620px;
    margin: 56px 0;
}

.banner .col-lg-8 .item {
    width: 30%;
    margin-right: 50px;
}
.banner .col-lg-8 .item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: #203239;
}
.banner .col-lg-8 .item h2 span{
    font-size: 56px;
    color: #F6762E;
    margin-left: -10px;
}

.banner .col-lg-8 .item p{
    width: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #203239;
}

.banner .col-lg-4 {
    margin-top: 64px;
}
/* ================================
banner end
================================= */
/* ================================
property start
================================= */
.property{
    padding: 100px 0;
}
.property h2{
    width: 533px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    color: #203239;
}

.property .item{
    width: 300px;
    border: 1px solid #EEEDDE;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
}

.property .item::after{
    position: absolute;
    width: 8px;
    height: 30px;
    top: 15px;
    left: 0;
    border-radius: 5px;
    background: #F6762E;
    content: "";
}

.property .item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: #203239;
}

.property .item h3 span{
    color: #F6762E;
    position: absolute;
    top: 0;
    right: 0;
}

.property .item p{
    font-family: 'Poppins', sans-serif;
    height: 150px;
    font-size: 16px;
    font-weight: 300;
    list-style: 30px;
    color: rgba(32, 50, 57,.55);
    margin: 18px 0 40px 0;
}

.property .item a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #203239;
    position: relative;
}

.property .item a i{
    margin-left: 14px;
}

.property .item a::after{
    width: 0;
    height: 30px;
    background: #D6D5C7;
    content: "";
    top: -3px;
    left: -6px;
    position: absolute;
    z-index: -1;
    transition: .8s;
}

.property .item:hover a::after{
    width: 110%;
}
/* ================================
property end
================================= */
/* ================================
favorite start
================================= */
.favorite{
    background:#EEEDDE;
    padding: 100px 0;
}

.favorite .title p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F6762E;
}

.favorite .title h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #203239;
}

.favorite .img{
    position: relative;
    margin-top: 64px;
    margin-bottom: 163px;
}

.favorite .img .front {
    position: absolute;
    top: 60px;
    left: 74px;
}
.favorite .title h4{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    color: #203239;
    margin-top: 145px;
    margin-bottom: 24px;
}

.favorite .title h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 39px;
    color: #203239;
}

.favorite .button{
    margin-top: 61px;
}

.favorite .button a{
    color: #203239;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #203239;
    padding: 13px 32px;
    margin-right: 44px;
    transition: .5s;
}

.favorite .button a i{
    margin-right: 14px;
}

.favorite .button a:hover{
    background: #203239;
    color: #fff;
}
/* ================================
favorite end
================================= */
/* ================================
kota start
================================= */
.kota{
    padding: 68px 0;
}

.kota .title p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F6762E;
}

.kota .title h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #203239;
}

.kota .icon i{
    width: 30px;
    height: 30px;
    line-height: 29px;
    color: #F6762E;
    text-align: center;
    background: rgb(214, 213, 199);
    border: 1px solid rgb(214, 213, 199) ;
    border-radius: 4px;
    margin-right: 24px;
    margin-top: 38px;
    cursor: pointer;
}

.kota .icon i:hover{
    background: transparent;
}

.kota .col-lg-4 img{
    margin-top: 64px;
    margin-bottom: 16px;
}

.kota .col-lg-4 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #203239;
    margin-bottom: 12px;
}

.kota .col-lg-4 p{
    width: 356px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #203239;
}
/* ================================
kota end
================================= */
/* ================================
Nav start
================================= */
/* ================================
Nav end
================================= */